<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.full_name %></h1>
    <p>Your account has been created, please change your password upon receiving this email</p>
    <p>your password is <%= @user.password %></p>
    <p>Have a great day!</p>
    <p>PS. I really like your style</p>
  </body>
</html>