<div class="background-color">
  <div class="gradient">
  
  <div class="wide">
    <div class="text-center header-color">
      <div class="col-xs-5 line"><hr></div>
      <div class="col-xs-2 logo">Rotten Mangoes</div>
      <div class="col-xs-5 line"><hr></div>
      <div class="row"> 
        <div class="col-xs-4 col-xs-offset-4">
          <div class="text-center">
             <%= link_to "Submit a Movie", new_movie_path, class: "btn btn-success btn-block center-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div> <!--close gradient -->
  </div>
  <div class="container">
    <div>
      <p><%= render 'form2' %></p>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <%= render @movies %> 
      </div>
    </div>
  </div>
</div>